<style>
    ul li {
        display: inline-block;
    }
    ul li a {
        color: #00B7FF;
    }
</style>
<nav>
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/post">表单</a></li>
        <li><a href="/list">留言列表</a></li>
    </ul>
</nav>