<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <% include nav %>
    <h1>用户注册</h1>
    <form action="/register" method="post">
        <% include messages %>
        <p>
            <input type="text" name="user[name]" placeholder="username" />
        </p>
        <p>
            <input type="password" name="user[pwd]" placeholder="password" />
        </p>
        <p>
            <input type="submit" value="Post">
        </p>
    </form>
</body>
</html>